<ul class="nav justify-content-center">
    <li class="nav-item">
        <a href="{% url 'main' %}" class="nav-link">
            Сайт
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'admin:users' %}" class="nav-link">
            Пользователи
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'admin:categories' %}" class="nav-link">
            Категории
        </a>
    </li>
    <li class="nav-item">
        <a href="{#% url 'admin:category' %#}" class="nav-link">
            None
        </a>
    </li>
    <li class="nav-item">
        <a href="{#% url 'admin:category' %#}" class="nav-link">
            None
        </a>
    </li>
</ul>