{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{% now %Y %}</h1>
    <h1>Корзина</h1>
    {% for product in basket %}
        <div class="phone-in-cataloge">
            <ul class="cataloge catalog-phone">
                <li>
                        <img src="/media/{{ product.product.image|default:'products_images/apple.jpg' }}"
                             alt={{ product.product }} width="50px">
                        <p>{{ product.product }}</p>
                        <p>Кол-во: {{ product.quantity }}</p>
                        <p>Цена за 1 ед. товара: {{ product.product.price }}</p>
                </li>
            </ul>
        </div>
    {% endfor %}
    <div class="clr"></div>
    <div>
        <p>Общая стоимость: {#{}#}</p>
    </div>
{% endblock %}