{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block js %}
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/basket_script.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>{% now %Y %}</h1>
    <h1>Корзина</h1>
    {% if basket %}
        <div class="phone-in-cataloge">
            {% include 'basketapp/includes/inc_basket_list.html' %}
        </div>
    {% else %}
        <h1>Вы пока ничего не добавили</h1>
    {% endif %}
{% endblock %}