{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        <a href="{% url 'main' %}">
            Главная
        </a>
    </button>
    <div class="user_avatar">
        <img src="/media/{{ user.avatar }}" alt="">
    </div>
{% endblock %}