{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="links-menu">
        {% include 'mainapp/includes/inc_links_menu.html' %}
    </div>
    <h1>Каталог</h1>
    {% if phones %}
        <div>
            <h2>Горячее предложение!</h2>
            <ul class="cataloge">
                <li>
                    <a href="{% url 'cataloge:product' hot_product.pk %}">
                        <img src="/media/{{ hot_product.image|default:'products_images/apple.jpg' }}"
                             alt={{ hot_product.name }} width="150px">
                        <p>{{ hot_product.name }}</p>
                    </a>
                </li>
            </ul>
        </div>
        <h3>Товаров в наличии: {{ phones|length }}</h3>
        {% for phone in phones %}
        <div class="phone-in-cataloge">
            <ul class="cataloge">
                <li>
                   <a href="{% url 'cataloge:product' phone.pk %}" class="catalog-phone">
                        <img src="/media/{{ phone.image|default:'products_images/apple.jpg' }}"
                             alt={{ phone.name }} width="150px">
                        <p>{{ phone.name }}</p>
                    </a>
                </li>
            </ul>
        </div>
        {% endfor %}
    {% else %}
        <h2>Список товаров пуст</h2>
    {% endif %}
{% endblock %}