{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'mainapp/includes/inc_basket.html' %}
    <h1>Каталог</h1>
    {% if phones %}
        <h3>Телефонов в наличии: {{ phones|length }}</h3>
        {% for phone in phones %}
        <div class="phone-in-cataloge">
            <ul class="cataloge">
                <li>
                   <a href="#" class="catalog-phone">
                        <img src="/media/{{ phone.image|default:'products_images/apple.jpg' }}" alt={{ phone.name }} width="150px">
                        <p>{{ phone.name }}</p>
                    </a>
                </li>
            </ul>
        </div>
        {% endfor %}
    {% else %}
        <h2>Список товаров пуст</h2>
    {% endif %}
{% endblock %}